<html>
  <head>
    <!-- page to view single sighting -->
    <title>Favorites</title>
    <%- include('partials/bootstrap') %>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <p>Recipe</p>
  </body>
</html>
