<html>
  <head>
    <title>List of Sightings</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>List of Sightings:</h1>
    <% for( let i = 0; i < sightings.length; i++ ) { %>
    <a href="/sighting/<%= i %>"
      ><%= i + 1 %>: <%= sightings[i].summary %> <br /> </a
    ><br />
    <% } %>
  </body>
</html>
